In [36]:
import pandas as pd

#### Series란 1차원 배열 형식으로 만든 객체이다. DataFrame에서 가장 기본적인 역활을 수행한다.

In [37]:
s1 = pd.Series([32,24,12,52,32], index = ['남자1','남자2','남자3','남자4','남자5'])
s1

남자1    32
남자2    24
남자3    12
남자4    52
남자5    32
dtype: int64

#### 만일 index를 따로 지정하지 않고 만들게 된다면 그냥 index로 mapping이 된다

In [38]:
s2 = pd.Series([1,2,3,4,5])
s2

0    1
1    2
2    3
3    4
4    5
dtype: int64

#### .index와 .values 로 각각에 접근이 가능하다.

In [39]:
print(f'sl.index : {s1.index}')
print(f's1.val : {s1.values}')

sl.index : Index(['남자1', '남자2', '남자3', '남자4', '남자5'], dtype='object')
s1.val : [32 24 12 52 32]

#### name 속성을 이용해서 Sereies에 이름을 할당할 수 있다.

In [40]:
s1.name = '남자들의 나이'
s2.index.name = '이름'
s2

이름
0    1
1    2
2    3
3    4
4    5
dtype: int64

#### Series도 indexing이 가능하다.

In [41]:
s1[[0, 3, 1]] # index로 0, 3, 1 번째를 가지고 온다.

/var/folders/gf/3r9shwfs5ydc_872y235kv5r0000gn/T/ipykernel_65511/67885432.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  s1[[0, 3, 1]] # index로 0, 3, 1 번째를 가지고 온다.

남자1    32
남자4    52
남자2    24
Name: 남자들의 나이, dtype: int64

In [42]:
s1[1 : 3] # index로 1부터 3 전까지 순서대로 불러온다.

남자2    24
남자3    12
Name: 남자들의 나이, dtype: int64

#### 조건문을 활용해서 Series를 선별 가능하다

In [43]:
s1[s1 > 25]

남자1    32
남자4    52
남자5    32
Name: 남자들의 나이, dtype: int64

#### 만일 라벨값이 영문이 경우 '.' 을 이용해서 인덱스의 값에 접근이 가능하다

In [44]:
s = pd.Series([1,2,3,4,5], index = ['a','b', 'c','d','e'], name = 'example')
print(s)

print(s.a)

a    1
b    2
c    3
d    4
e    5
Name: example, dtype: int64
1

#### 'in' 과 'items()' 라는 함수를 사용 가능하다.

In [45]:
'a' in s

True

In [46]:
for index, value in s.items():
    print(f'{index} : {value}')

a : 1
b : 2
c : 3
d : 4
e : 5

#### Sereies 끼리 연산시 index를 기반으로 연산이 된다는 것을 알아두자

In [47]:
a1 = pd.Series([1,2,3,4], index= ['a','b','c','d'])
a2 = pd.Series([12,15,19,13], index=['a','b','c','e'])

a1 + a2

a    13.0
b    17.0
c    22.0
d     NaN
e     NaN
dtype: float64

In [48]:
new_s = a1 + a2
print(new_s.notnull()) # Null이면 False Null이 아니면 True를 반환한다.
new_s[new_s.notnull()] # NULL이 아닌 데이터만 가져온다

a     True
b     True
c     True
d    False
e    False
dtype: bool

a    13.0
b    17.0
c    22.0
dtype: float64

#### Series 데이터에서 삭제, 추가, 갱신이 모두 가능하다

In [49]:
new_s['a'] = 123123
print(new_s)

print('delete b')
del new_s['b']
print(new_s)

a    123123.0
b        17.0
c        22.0
d         NaN
e         NaN
dtype: float64
delete b
a    123123.0
c        22.0
d         NaN
e         NaN
dtype: float64